.main-content{
    margin-left: 350px;
  }
  
  table-container table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-container th,
  .table-container td {
    border-bottom: 1px solid #F0F0F0;
    padding: 8px;
  }
  
  .table-container th {
    text-align: left;
  }
  
  .table-container td {
    text-align: left;
  }
  
  
  .main-content{
    margin-left: 350px;
    margin-right: 60px;
  }
  
  .bienvenido{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }
  
  .bienvenido span{
   color: #D63484;
  }
  
  .title{
    padding: 24px 0px;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 0;
  }
  
  table {
    border-collapse: collapse; 
    width: 100%; 
  }
  
  th,
  td {
    border: none; 
    padding: 8px; 
  }
  
  thead {
    background-color: #F0F0F0; 
  }
  
  tbody {
    background-color: white; 
  }  
  
  tbody tr {
    background-color: white; 
  }
  
  button{
    border: none;
    background-color: white;
  }
  
  .poppins-regular {
    margin: 0;
    text-align: left;
    width: calc(50% - 120px);
    margin-right: 60px;
    box-sizing: border-box;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #D63484;
  }
  
  .form-control {
    height: 2em;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
  }
  
  .form-control:hover {
    border-left: 4px solid #D63484;
  }
  
  .act {
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }
  
  .act-primary {
    background-color: #D63484;
    color: #fff;
    border: 1px solid #D63484;
  }

  .btn {
    padding: 5px 10px;
    font-size: 18px; 
    font-family: 'Poppins', sans-serif; 
    margin: 0 0 16px;
  }
  
  .btn-primary {
    background-color: #D63484;
    color: #fff;
    border: 1px solid #D63484;
  }


  .pickerInput{
    height: 2em;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 15px;
  }

  .pickerToggle {
    display: none;
  }

  .btn:hover{
    background-color: white;
    color:  #D63484;
  }