.info-centro {
    position: fixed;
    top: 40px; /* Ajusta la distancia desde la parte superior de la pantalla */
    right: 12em; /* Ajusta la distancia desde el borde derecho de la pantalla */
    border-left: 1px solid #D63484;
    padding-left: 20px;
  }
  

.info-centro h2{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 1;
}

.info-centro p{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}
.info-centro h2,
.info-centro p {
    margin: 0;
    padding: 0;
}

.info-centro p {
    margin-top: 5px; /* Espacio entre el título y el párrafo */
}

