.login-container {
    margin: 0;
    text-align: left;
    width: calc(50% - 120px); 
    padding: 4em;
    margin-right: 60px; 
    box-sizing: border-box; 
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #D63484;
  }
  
  .form-control {
    height: 2em;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px; 
    font-family: 'Poppins', sans-serif; 
  }
  
  .form-control:hover {
    border-left: 4px solid #D63484;
  }
  
  .buttons-div {
    white-space: nowrap;
    padding: 18px 0px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 18px; 
    font-family: 'Poppins', sans-serif; 
  }
  
  .btn-primary {
    background-color: #D63484;
    color: #fff;
    border: 1px solid #D63484;
  }
  
  .btn-register {
    background-color: #ffffff;
    color: #D63484;
    border: 1px solid #D63484;
  }
  
  .btn-register a {
    text-decoration: none;
    color: #D63484;
  }
  
  .vertical-grey {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%; 
    background-color: #ffffff; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
  }
  
  .center-image {
    display: block;
    max-width: 75%; 
    height: auto;
    margin: 0 auto; 
  }
  
  .center-text {
    text-align: center; 
    font-size: 30px;
    font-family: Poppins;
    font-weight: bold;
    line-height: 1.5;
  }
  
.select{
    height: 54px;
    width: 100%;
}

.btn-register {
  background-color: #ffffff;
  color: #D63484;
  border: 1px solid #D63484;
}

.btn-register:hover{
  text-decoration: underline;
}