.sidebar-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-header nav{
    margin: 24px 16px;
  }

  .sidebar-header nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-header nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding-bottom: 24px;
}

/* Estilos para la barra lateral */
.sidebar-header {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px; /* Ajusta el ancho según tus preferencias */
}

/* Estilos para el enlace principal */
.beautylink {
  color: #402b3a;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin: 24px 16px
}

.beautylink a{
  color: black;
  text-decoration: none;
}

/* Estilos para la navegación */
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: block;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #D63484;
  font-weight: bold;
}

nav ul li a svg {
  vertical-align: middle;
  margin-right: 10px; /* Ajusta el margen entre el SVG y el texto si es necesario */
}